.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  flex-shrink: 1;
  flex-grow: 1;
}

.searchArea {
  flex-grow: 0;
  padding: 10px 0;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}

.searchArea searchAreaInputGroup {
  background-color: white;
}

.entryList {
  height: 100%;
  padding: 0 0.75rem;
  overflow-y: auto;
}

.entry {
  margin-bottom: 2rem;
}

.noEntriesFoundContainer h1,
.noEntriesFoundContainer h2,
.noEntriesFoundContainer h3 {
  text-align: center;
}

/* RESPONSIVE */

/* Large phones */
@media (max-width: 767px) {
  .entryList {
    padding: 0;
  }
}
