.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  flex-shrink: 1;
  flex-grow: 1;
}

.searchArea {
  padding: 10px 0;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}

.searchArea input {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 5px solid black;
  font-size: 1.1rem;
}

.entryList {
  height: 100%;
  overflow-y: auto;
}

.entryList .entry {
  margin-bottom: 2rem;
}

.entryList .entry:hover {
  cursor: pointer;
}
